<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="moneris">
                <group id="chmonerischeckout" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Moneris Checkout Settings - Provided by CollinsHarper.com</label>
                    <field id="enable_moneris_checkout_mode" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable Moneris Checkout</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>The value at "Stores => General => State Option => State is Required for" should be null because states in Moneris Checkout don't match with ones in Magento</comment>
                    </field>

                    <field id="moneris_checkout_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Moneris Checkout ID</label>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
